<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POLC 대학생과외</title>
</head>
<body>
    <ul>
        <li th:if="${!isSession}"><a href="/login">로그인</a></li>
        <li th:unless="${!isSession}"><a href="/logout">로그아웃</a></li>
        <br/>
        <li th:if="${!isSession}"><a  th:href="@{/login/signup}" href="/login/signup">회원가입</a></li>
        <br/>
        <li th:if="${isSession}"><a href="/member/teacher">대학생 찾기</a> </li>
        <br/>
        <li th:if="${isSession}"><a href="/matching">나의 매칭 보기</a> </li>
        <br/>
        <li th:if="${isSession}"><a href="/login/edit">나의 정보 보기</a></li>
        <br/>
        <li th:if="${isSession}"><a href="/withdrawal">회원탈퇴</a></li>
    </ul>
</body>
</html>