<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POLC 대학생과외</title>
</head>
<body>
<form action="/teacher/signup" method="post"/>
<p><label>ID</label><input type="text" id="loginId" name="loginId"/></p>
<p><label>password</label><input type="password" id="password" name="password"/></p>
<p><label>이름</label><input type="text" id="name" name="name"/></p>
<p><label>대학교</label><input type="text" id="universityName" name="universityName"/></p>
<p><label>과목</label><input type="text" id="subject" name="subject"/></p>
<button type="submit">회원가입</button>
</form>
</body>
</html>