<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>대학생 상세정보</title>
</head>
<body>
<table border="1">
    <tr>
        <td>이름</td>
        <td th:text="${teacher.login.name}"></td>
    </tr>
    <tr>
        <td>학교</td>
        <td th:text="${teacher.university}"></td>
    </tr>
    <tr>
        <td>과목</td>
        <td th:text="${teacher.subject}"></td>
    </tr>
</table>
<button th:onclick="|location.href='@{/}'|">홈으로</button>
<button th:onclick="|location.href='@{/matching/{id}(id=${teacher.id})}'|">매칭하기</button>
</body>
</html>