<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매칭</title>
</head>
<body>
<a href="/"><input type=button value="홈으로"/></a>
<table border="1">
    <tr th:each="teacher : ${teacherList}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.universityName}"></td>
        <td th:text="${teacher.subject}"></td>
        <td>
            <button type="submit" th:onclick="|location.href='@{/teacher(id=teacher.id)}'|">선택</button>
        </td>
    </tr>
</table>
</body>
</html>